{# templates/profil/prof.html.twig #}
<link href="{{ asset('css/main.css') }}" rel="stylesheet" />
<h1>Bienvenu {{prenom}}{{nom}}</h1>
<p> Vous êtes connecté en tant que professeur </p>
<h3>Informations</h3>
<p>{{email}}</p>
<a href="{{ path('app_logout')}}">Se déconnecter</a>