<body>
    coucou ici c'est le portfolio

    {% for projet in projets %}
        <p>{{projet.nom}}</p>
        <p>{{projet.description}}</p>
        <p>{{projet.annee}}</p>
        <p>
        {% if projet.acquis == 1 %}
            Acquis
        {% elseif projet.acquis == 2 %}
            En cours d'acquisition
        {% elseif projet.acquis == 3 %}
            Non acquis
        {% endif %}
        </p>  

        <img src="{{asset('img/'~projet.photo)}}"/>

        <div>
        {% if projet.video %}
            {{video|raw}}
        {% endif %}
        </div>

        <ul>
            {% for domaine in domaines[projet.id] %}
                <li>{{ domaine }}</li>
            {% endfor %}
        </ul>
        <ul>
            {% for competence in competences[projet.id] %}
                <li>{{ competence.nom }}</li>
            {% endfor %}
        </ul>
        <ul>
            {% for apprentissage in ac[projet.id] %}
                <li>{{ apprentissage.numero }}</li>
            {% endfor %}
        </ul>

        {% if formCommentaire is defined %}
            {{form(formCommentaire[projet.id])}}
        {% endif %}
    {% endfor %}
<body>