{% extends "base.html.twig" %}

{% block title %} Portfolio {% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}

{% block body %}
<div class="pagePortfolio">
    <h1>Portfolios</h1>

    <section class="projets">
        {% for projet in projets %}
            <article class="projet">
                <h2>{{projet.nom}}</h2>
                <p><strong>Description du projet :</strong> {{projet.description}}</p>
                <p><strong>Année :</strong> {{projet.annee}}</p>
                <p><strong>Auto-évaluation :</strong>
                {% if projet.acquis == 1 %}
                    Acquis
                {% elseif projet.acquis == 2 %}
                    En cours d'acquisition
                {% elseif projet.acquis == 3 %}
                    Non acquis
                {% endif %}
                </p>  

                <img src="{{asset('img/bddPhotoProjet/'~projet.photo)}}"/>

                <div>
                {% if projet.video %}
                    {{video|raw}}
                {% endif %}
                </div>

                <p><strong>Domaine(s) lié(s) au projet :</strong></p>
                <ul>
                    {% for domaine in domaines[projet.id] %}
                        <li>{{ domaine }}</li>
                    {% endfor %}
                </ul>
                <p><strong>Compétence(s) liée(s) au projet :</strong></p>
                <ul>
                    {% for competence in competences[projet.id] %}
                        <li>{{ competence.nom }}</li>
                    {% endfor %}
                </ul>
                <p><strong>AC(s) lié(s) au projet :</strong></p>
                <ul>
                    {% for apprentissage in ac[projet.id] %}
                        <li>{{ apprentissage.numero }}</li>
                    {% endfor %}
                </ul>
                <p><strong>Commentaire(s) lié(s) au projet :</strong></p>
                {% if commentaires[projet.id] is defined %}
                    {% for commentaire in commentaires[projet.id] %}
                        <div class="commentaire">
                            <img src="{{asset('img/png/citation.png')}}" alt="Citation"/>
                            {{ auteurCommentaire[commentaire.id].prenom }} {{ auteurCommentaire[commentaire.id].nom }}
                            <p><strong>Commentaire :</strong></p>
                            <p>{{commentaire.texte}}</p>
                            <p><strong>Note :</strong> {{commentaire.note}}</p>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>Il n'y a aucun commentaire pour le moment.</p>
                {% endif %}

                {% if formCommentaire is defined %}
                    <p><strong>Ajouter un commentaire :</strong></p>
                    {# {{ form_start(formCommentaire[projet.id]) }}
                        {{form_label(formCommentaire[projet.id].note)}}
                        {{form_row(formCommentaire[projet.id].texte)}}
                        {{form_label(formCommentaire[projet.id].note)}}
                        {{form_row(formCommentaire[projet.id].texte)}}
                    {{ form_end(formCommentaire[projet.id]) }} #}

                    {{form(formCommentaire[projet.id])}}
                {% endif %}
            <article>
        {% endfor %}
    </section>
</div>
{% endblock %}